%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f|
  = f.error_notification
  .row
    .span3
      = image_tag(current_user.image.url, :class => "img-circle img-border border-white")
      .span3
        = f.file_field :image
    .span8.dock
      = f.input :name, :autofocus => true
      = f.input :email
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      
      = f.input :website
      = f.input :location
      = f.input :password, label: "New Password", autocomplete: "off"
      = f.input :password_confirmation, label: "New Password Confirmation", :autocomplete => "off"
      = f.input :current_password
  .form-actions    
    = link_to "Back", :back, class: "btn"
    = f.submit "Update", class: "btn btn-primary btn-large"
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
