.profilePage
  .row.center
    .span4
      = image_tag(@user.image.url, :class => "img-circle img-border border-white")
      %h2
        = @user.name
      %ul.unstyled.inline
        %li
          %i.icon-globe.icon-large.icon-grey
        %li
          = @user.website
      %ul.unstyled.inline
        %li
          %i.icon-map-marker.icon-large.icon-grey
        %li
          = @user.city + ", " + @user.country
      %ul.untyled.inline    
        %li
          %i.icon-phone.icon-large.icon-grey
        %li
          = @user.phone
    .span8
      .span7
        %h3
          Posted Referrals
      .span7.dock#referrals
        = render @referrals