.profilePage
  .row.center
    .span4
      = image_tag(@user.image.url, :class => "img-circle img-border border-white")
      %h2
        = @user.name
      %ul.unstyled.inline
        %li
          %i.icon-globe.icon-large.icon-grey
        %li
          = @user.website
      %ul.unstyled.inline
        %li
          %i.icon-map-marker.icon-large.icon-grey
        %li
          = @user.location
      %ul.unstyled.inline    
        %li
          %i.icon-phone.icon-large.icon-grey
        %li
          = @user.phone
      - if current_user == @user
        %br
        %ul.unstyled.inline
          %li
            = link_to '<i class="icon-user icon-large icon-white" rel="tooltip" title="Edit Profile"> Edit Profile</i>'.html_safe, edit_user_registration_path(current_user), class: "btn"
    .span8
      .span7
        %h3
          Posted Referrals
      .span7.dock#referrals
        = render @referrals