= simple_form_for(@referral, html: { class: "form-horizontal"}) do |f|
  = f.error_notification
  .row
    .span6
      = f.input :location
      = f.input :referraltype, label: "Type", collection: [ "Wedding", "Family", "Newborn", "Engagement", "Boudoir", "Maternity" ] , prompt: "Please Choose"
      = f.input :description, as: :text,                                  |
        placeholder: 'Add more info here',                                |
        input_html: { rows: "3"}, prompt: "Enter any details if provided" |

      = f.input :eventdate, label: "Date", as: :ui_date_picker, :order => [:month,  :day, :year]
    .span5
      = f.input :coverage, collection: 1..15, required: false, hint: 'Enter coverage time or leave at 1'
      = f.input :budget, as: :decimal, required: false, prompt: "Enter a budget or leave it blank"
      = f.input :expiredays, label: "Days to Expire", collection: [ 30, 25, 20, 15, 10, 5, 1], :default => 30, hint: 'Choose when the referral will expire in days'
      = f.input :expirereplies, label: "Replies to Expire", collection: [ 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1], default: 25, hint: 'Choose a reply limit'
  .form-actions
    = link_to 'Back', :back, class: "btn"
    = f.button :submit, class: "btn btn-primary btn-large"
