.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag("logo.svg", :format => "svg", :size => "150x50", :alt => "GemPort"),  root_path, class: "logo"
      %ul.nav
        %li.span1
        %li{:class => "#{'active' if current_page?(referrals_path)}"}
          = link_to 'Referrals', referrals_path
          - if current_page?(referrals_path)
            %i.icon-caret-up.icon-large.pull-right
        %li{:class => "#{'active' if current_page?(about_path)}"}
          = link_to 'About', about_path
          - if current_page?(about_path)
            %i.icon-caret-up.icon-large.pull-right
        %li
          %a{:href => "#"} Blog
      %ul.nav.pull-right
        - if user_signed_in?
          %li
            %ul.nav.pull-right
              %li.dropdown.profileToggle
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-chevron-down.icon-white.pull-right
                  .img-border.profileHeader.pull-left
                    = image_tag(current_user.image.url, :class => "img-circle ", :style => "thumb")
                %ul.dropdown-menu
                  %li
                    = link_to '<i class="icon-user"></i> Edit Profile'.html_safe, edit_user_registration_path
                  %li
                    %a{:href => ""}
                      %i.icon-medkit
                      Help
                  %li.divider
                  %li
                    = link_to '<i class="icon-signout"></i> Logout'.html_safe, destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Login',  new_user_session_path