!!!
%html
  %head
    %title GemPort
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
    = csrf_meta_tags
    /[if gte IE 9]
      <style type="text/css">
      \.gradient {
      filter: none;
      }
      </style>
  %body
    = render 'layouts/header'
    .container
      #flash-message
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-#{name}"
      = yield
      = render 'layouts/footer'